html{
    font-size: 62.5%;
}
*,*::after,*::before{
    padding: 0;
    margin: 0;
}
ul , li{
    border-style: none;
}
a{
    text-decoration: none;
}
body{
    direction: rtl;
    font-size: 1.6rem;
    font-family: Vazirmatn;
}
.acordion{
    max-width: 400px;
}
.acordion div {
  background-color:blueviolet;
    color: #fff;
    padding: 5px;
}
.acordion li{
    padding: 5px;
}
.acordion li ul{
    display: none;
    background-color: aliceblue;
    border-bottom-left-radius:8px;
    border-bottom-right-radius: 8px;
    border: solid 1px blue;
}

